<app-header></app-header>

<main>
    <h2>Favorit Movies</h2>
    <section>


        <article *ngIf="data$ | async as user; else loading">
            <app-card 
            *ngFor="let item of data$ | async" [cardItem]="item"
            [favorit]="true"
            [uId]="uId"
            ></app-card>
        </article>

        <ng-template #loading>
            <article style="padding: 300px 0px;">
                <div style="height: 200px; width: 200px; margin: 0px auto;">
                    <img src="../../../assets/img/home-page/Eclipse-1.1s-251px (1).svg" alt="">
                </div>
            </article>
        </ng-template>

    </section>
</main>