main{
    background-color: #161616;
}

main .top {
    background-size: 100%;
    background-image: url(../../../assets/img/home-page/streams-bg.png);
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 20px 80px;
}

main .top .search {
    width: 80%;
    max-width: 540px;
    position: relative;
}

main .top h2 {
    color: white;
    font-size: 40px;
    text-align: center;
}

.svg {
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 15px;
}

main .top .search input {
    width: 100%;
    padding: 12px 12px 12px 50px;
    border-radius: 4px;
    border: 1.5px solid rgb(255, 255, 255, 0.2);
    background-color: transparent;
    color: white;
}

main .top .search input:focus-visible {
    border-color: rgb(73, 105, 228);
    outline: none;
}

main .content,main .search-area {
    background-color: rgb(22, 22, 22);
}

main .content .nav-bar {
    padding: 32px 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

main .content .nav-bar button {
    background-color: #4e4e4e;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    color: white;
    margin: 0px 6px;
    cursor: pointer;
    transition: all 0.4s;
    font-size: 15px;
}

main .content .nav-bar button:hover {
    background-color: rgb(57, 82, 177);
}

main .content .nav-bar button:active {
    background-color: rgb(41, 58, 127);
}


.cards-area {
    width: 95%;
    max-width: 1800px;
    margin: 0px auto;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.active {
    pointer-events: none;
    background-color: rgb(73, 105, 228) !important;
}

main .bottom {
    background-image: url(../../../assets/img/home-page/img2.png);
    background-position: right;
    padding: 80px 190px;
    text-align: end;
    color: rgba(255, 255, 255, 0.9);
}

main .bottom h4 {
    font-size: 30px;
    margin: 0px 0px 20px;
}

main .bottom p {
    font-size: 20px;
    margin: 0px 0px 25px;
}

main .bottom button {
    padding: 8px 12px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    background-color: transparent;
    line-height: 1.7;
    cursor: pointer;
    transition: all 0.4s;
}

main .bottom button:hover{
    border-color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
}

a{
    color: rgb(255, 255, 255);
}

.button{
    width: 200px;
    margin: 0px auto 30px;
}