.card{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 0 2px 0 rgb(0 0 0 / 10%);
    width: 255px;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 30px;
}

.card:hover{
    transform: scale3d(1.05,1.05,1.05);
}

.card .img{
    height: 340px;
}

.card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p{
    margin: 4px;
    font-size: 13px;
    color: white;
    line-height: 2;
}