main{
    padding: 20px 30px 0px;
}

main section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .content{
    justify-content: center;
    height: 80vh;
}

main .head .svg{
    width: 167px;
    height: 45px;
    cursor: pointer;
}

main .head .svg svg{
    fill: #e50914;
}

main .head h3{
    color: #333;
    font-size: 19px;
    margin: 0px;
}

main .content .sing-up{
    width: 45%;
    max-width: 500px;
    padding: 60px 68px 40px;
}

main .content .sing-up h2{
    color: black;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
}

main .content .sing-up p{
    font-size: 20px;
    color: #333333;
    margin-bottom: 20px;
}

main .content .sing-up input{
    margin-bottom: 16px!important;
}